* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* This body of our webpage */
body {
  background-color: #d9dcd6;
}

/* This is the blue bar at the top of the page where our headers are located  */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* This is website homepage title */
.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* This is website homepage title color */
.header h1 .seo {
  color: #d9dcd6;
}

/* This is the list of topics on the site that link to places within the site */
.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* This is the  unordered list for our   */
.header div ul {
  list-style-type: none;
}

.header div ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* This is the background splash art for the home page */
.background {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefit-lead {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* This is style sheet for the search-engine-optimization section  */
.search-engine-optimization {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* This is style sheet for the online-reputation-management section  */
.online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* This is style sheet for the social-media-marketing section  */
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.search-engine-optimization img {
  max-height: 200px;
}

.online-reputation-management img {
  max-height: 200px;
}

.social-media-marketing img {
  max-height: 200px;
}

.search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* This is style sheet for the footer */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/* This is the Made with <3 section of the webpage  */
.footer h2 {
  font-size: 20px;
}
